@import url(colors.css);
@import url(text.css);

* {
    text-align: center;
    font-family: "Inter Tight", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
}

.conteudo {
    margin-left: 10vw;
    margin-right: 10vw;
}

header {
    background-color: var(--primary-color);
    margin: 0;
    font-size: 24px;
    padding: 1vw;
}

header nav ul {
    margin: 0;
}

header ul {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

a {
    text-decoration: none;
}

a:link, a:visited{
    color: var(--text-color);
}

.titulo {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 100px;
    margin-top: 3vw;
    margin-bottom: 0vw;
}

.subtitulo{
    margin-top: 0.2vw;
    margin-bottom: 3vw;
}

ul {
    padding-inline-start: 0;
    
}

li {
    list-style-type: none;
}

.lista-coluna {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 64px;
}

.container-imagem-index {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
}

.image-shadow-blur {
    border: 0;
    border-radius: 5%;
    filter: drop-shadow(0 0 1vw var(--primary-color));
}

.crop-index-daftpunk {
    margin-left: -230px;
}

.crop-index-porter {
    width: 720px;
    height: auto;
    margin-top: -80px;
    margin-left: -150px;
}

.crop-index-femtanyl {
    width: 310px;
    height: auto;
}

.image-container-desc {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin: auto;
    margin-top: 4vw;
}

.crop-desc-daftpunk {
    width: 600px;
    height: auto;
    margin-left: -45px;
}

.descricao {
    font-size: 1.3vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.fonte {
    font-size: 1vw;
    margin-left: 6vw;
    margin-right: 6vw;
}

.fonte a{
    color: var(--primary-color);
}

.lista-discografia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5vw;
}

.item-discografia {
    margin-bottom: 3vw;
}

.titulo-album {
    font-size: 2vw;
    margin-bottom: 0px;
}

.item-discografia .fonte {
    margin-top: 0.3vw;
}

.imagem-item-discografia {
    width: 250px;
    height: auto;
}
