@import url(colors.css);
@import url(text.css);

* {
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Inter Tight", sans-serif;
}

body {
    margin-left: 10vw;
    margin-right: 10vw;
}

.titulo {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 100px;
    margin-top: 3vw;
    margin-bottom: 0vw;
}

.subtitulo{
    margin-top: 0.2vw;
    margin-bottom: 3vw;
}

li {
    list-style-type: none;
}

.lista-coluna {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-imagem-index {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.crop-index-daftpunk {
    margin-left: -230px;
}

.crop-index-porter {
    width: 720px;
    height: auto;
    margin-top: -80px;
    margin-left: -150px;
}

.crop-index-femtanyl {
    width: 310px;
    height: auto;
}